.box {
  background-color: tomato;
  color: white;
  padding: 20px;
  font-size: 150%;
}

.container {
  display: grid;
  grid-template-columns: 400px auto 400px;
  gap: 10px;
  grid-template-areas:
    'header header header'
    'sidebar content sidebar2'
    'footer footer footer';
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
